{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block head %}
<!-- Calendar JS -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Welcome, {{ user.email }}!</h1>
    <div class="profile-info">
        <!-- Display user profile information -->
        <p>{{ user.email }}</p>
    </div>

    <div class="todo-summary">
        <!-- Display to-do list summary as a link -->
        <a href="{{ url_for('view_lists') }}">You have {{ todo_lists|length }} active to-do lists.</a>
    </div>

    <div class="quick-task-add">
        <!-- Form for adding a quick task -->
        <form action="/add_task" method="post">
            <!-- Form field for list title -->
            <label for="list_title">To-Do List Title:</label>
            <input type="text" id="list_title" name="list_title" required>

            <!-- Form field for task description -->
            <label for="task_description">To-Do Task:</label>
            <input type="text" id="task_description" name="task_description" required>

            <input type="submit" value="Add Task">
        </form>
    </div>
    <!-- Calendar container -->
    <div id='calendar'></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
    
            // Fetch task data
            fetch('/get_upcoming_tasks')
                .then(response => response.json())
                .then(tasks => {
                    console.log(tasks);
                    // Initialize FullCalendar
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        events: tasks  // Use the fetched tasks as events
                    });
                    calendar.render();
                });
        });
    </script>
</div>
{% endblock %}